


body{
  font-family: "Inter", sans-serif;
}

.nav1{
padding-block: 16px;
}

.unifailogo{
margin-right: 40px;
}
.nav-btns button{
white-space: nowrap;
border: 2px solid #2E1562;
min-width: 140px;
}
.book-demo-btn{
 background: #2E1562;
color: white;
}

.book-demo-btn:hover, .join-btn:hover{
 background: white;
color: #2E1562;
border: 2px solid #2E1562;
}

.subsribe-btn:hover{
border-color: white;
background-color: #2E1562;
color: white;
border: 2px solid #2E1562;
}

.navbar-custom li a{
color: #2E1562;
font-weight: 600;
}

.navbar-custom li{
margin-right: 40px;
}

/*   Assests/images/down-arrow.svg   */

.nav-product::after{
    content: "";
    border: 0;
    background-image: url("../../assets/images/down-arrow.svg") !important;
    background-size: 22px;
    background-repeat: no-repeat;
    width: 20px;
    height:11px;
    background-position: center;
    position: relative;
    top: 3px;
}



@media  (max-width:992px){
.navbar-nav li{
margin-right: 8px;
}
}
@media  (max-width:1224px){
.navbar-nav li{
margin-right: 3px;
}
}

@media (max-width:331px) {
    .nav-btns{
display: flex;
flex-direction: column;
gap: 10px !important;
}
}


/* section one class styling  */

.section-one h2{
color: #2E1562;
font-weight: 700;
font-size: 48px;
line-height: 64px;
}

.section-one p{
font-weight: 700;
font-size: 17px;
line-height: 35px;
color: #73737D;
}

.section-two button{
background: #2E1562;
color: white;
font-weight: 700;
font-size: 20px;
border: 2px solid #2E1562;
}


.section-two h2{
color: #2E1562;
font-weight: 700;
font-size: 48px;
line-height: 64px;
}

.section-two p{
font-weight: 700;
font-size: 17px;
line-height: 35px;
color: #73737D;
}

.section-two a{
font-weight: 700;
font-size: 17px;
line-height: 25px;
color: #7B61FF;
}







@media (max-width:992px) {
 .section-one h2{
  font-size: 30px;
line-height: 40px;
}
 .section-one p{
font-size: 15px;
line-height: 25px;

}
.section-two h2{
font-size: 30px;
line-height: 40px;
}
 .section-two p {
font-size: 15px;
line-height: 25px;

}
 .section-two a {
font-size: 15px;
line-height: 20px;

}

.section-two button{

font-size: 16px;
 max-width: 270px;

}

}

/* section class three style  */

.input-bg{
background: url(../../assets/images/inputBg.svg);
background-repeat: no-repeat;
background-size: cover;
padding-block: 60px;

}

.white-circle{
height: 231px;
width: 231px;
}

.section-three{
 max-width: 976px;
}


.input-container{
background-color: white;
height: 54px;
max-width: 620px;
}

.section-three, p,h3 {
font-weight: 500;
 font-size: 18px;
line-height: 30px;
}
.section-three h2{
font-weight: 600;
 font-size: 46px;
line-height: 40px;
}

.section-three button{
background: #30166C;
color: white;
height: 47px;
font-size: 14px;
white-space: nowrap;
}

.section-three input{
  border: 0;
  height: 40px;
  outline: 0;
font-size: 14px;
}

@media  (max-width:992px) {
  
.input-container{
background-color: white;
height: 40px;
}
.section-three button{
background: #30166C;
color: white;
height: 35px;
font-size: 12px;
}
.section-three input{
  border: 0;
  height: 40px;
  outline: 0;
font-size: 12px;
min-width: 140px;
}
.section-three, p,h3 {
font-weight: 500;
 font-size: 14px;
line-height: 25px;
}
.section-three h2{
font-weight: 600;
 font-size: 30px;
line-height: 40px;
}
.rlogoImage{
height: 150px;
height: 150px;
}
.white-circle{
height: 170px;
width: 170px;
}

.input-bg{
padding-block: 10px;
}

}



/* footer styling  */

.footer-heading h4{
  color:#1B1E3E ;
font-weight: 600;
font-size: 16px;
margin-top: 12px;
}

.footer-heading p{

font-weight: 600;

}

.widget ul li a {
font-weight: 500;
font-size: 14px;
}
.copyrightline p{
font-size: 12px;
margin-top: 2px;
}
.copyrightline img{
height: 22px;
word-wrap: 22px;
}

.footer-unifailogo{
height: 70px;
}

.toggle-btn{
text-decoration: none;
    outline: 0;
  color: #1B1E3E;
}



    