body{
  font-family: "Inter", sans-serif;
}

.nav1{
padding-block: 16px;
}

.unifailogo{
margin-right: 40px;
}


.nav-btns button{
white-space: nowrap;
border: 2px solid #2E1562;
min-width: 140px;
}

.book-demo-btn{
 background: #2E1562;
color: white;
}

.book-demo-btn:hover, .subscribe-btn:hover, .contact-join-btn:hover{
background: white;
color: #2E1562;
border: 2px solid #2E1562;
}


.subsribe-btn:hover{
border-color: white;
background-color: #2E1562;
color: white;
border: 2px solid #2E1562;
}


.navbar-custom li a{
color: #2E1562;
font-weight: 600;
}


.navbar-custom li{
margin-right: 30px;
}


.shadow-custom{
box-shadow: 1px 1px 3px 3px rgb(247, 245, 245);
}

.toggle-btn{
text-decoration: none;
outline: 0;
border: 1px solid #1B1E3E;
}

.toggle-btn:focus{
box-shadow: none;
}

.nav-product::after{
    content: "";
    border: 0;
    background-image: url("../../assets/images/down-arrow.svg") !important;
    background-size: 22px;
    background-repeat: no-repeat;
    width: 20px;
    height:11px;
    background-position:center;
    position: relative;
    top: 3px;
    right: 7px;

}


@media  (max-width:992px){
.navbar-custom  li{
margin-right: 8px;
}

.nav-product::after{
    position: absolute;
    top: 14px;
    right: 0;
}

.mobile-menu{
border-top: 2px solid  #5b3f97;
    margin-top: 14px;
}
}
@media  (max-width:1224px){
.navbar-custom  li{
margin-right: 3px;
}
}

@media (max-width:331px) {
    .nav-btns{
display: flex;
flex-direction: column;
gap: 10px !important;
}


}




.homesection h2 {
color: #2E1562;
font-weight: 700;
font-size: 40px;
line-height: 64px;
}


.homesection p{
font-weight: 700;
font-size: 17px;
line-height: 35px;
color: #73737D;
}

/* .section-two button{
background: #2E1562;
color: white;
font-weight: 700;
font-size: 20px;
border: 2px solid #2E1562;
padding-block: 13px;
padding-inline: 24px;
} */

.homesection a{
font-weight: 700;
font-size: 17px;
line-height: 25px;
color: #7B61FF;
}

.join-btn-link{
background: #2E1562;
color: white !important;
font-weight: 700;
font-size: 20px;
border: 2px solid #2E1562;
padding-block: 13px;
padding-inline: 24px;
max-width: 331px;
}

.join-btn-link:hover{
background: white;
color: #2E1562 !important;
/* font-weight: 700; */
/* font-size: 20px; */
border: 2px solid #2E1562;
padding-block: 13px;
padding-inline: 24px;
}






@media (max-width:992px) {
 .homesection h2{
 font-size: 26px;
line-height: 40px;
}
 .homesection p{
font-size: 15px;
line-height: 25px;
}
 .homesection a {
font-size: 15px;
line-height: 20px;

}
.section-two button{
font-size: 16px;
 max-width: 270px;
padding-block: 10px;
padding-inline: 5px;

}

}
.join-btn{
margin-top: 30px !important;
}


.section-two-p{
margin-bottom: 7px;
}

/* section class three style  */

.input-bg{
background: url(../../assets/images/inputBg.svg);
background-repeat: no-repeat;
background-size: cover;
padding-block: 60px;

}

.white-circle{
height: 231px;
width: 231px;
}

.section-three{
 max-width: 976px;
}


.input-container{
background-color: white;
height: 54px;
max-width: 620px;
}

.section-three, p, h3 {
font-weight: 500;
 font-size: 18px;
line-height: 30px;
}
.section-three h2{
font-weight: 600;
 font-size: 46px;
line-height: 40px;
}

.section-three button{
background: #30166C;
color: white;
height: 47px;
font-size: 14px;
white-space: nowrap;
font-weight: 700;
border: 2px solid #1B1E3E;
}

.section-three input{
  border: 0;
  height: 40px;
  outline: 0;
  font-size: 14px;
  padding-left: 10px;
}

@media  (max-width:992px) {
  
.input-container{
background-color: white;
height: 40px;
}


.section-three button{
background: #30166C;
color: white;
height: 35px;
font-size: 12px;
}


.section-three input{
  border: 0;
  height: 40px;
  outline: 0;
font-size: 12px;
min-width: 140px;
}


.section-three, p,h3 {
font-weight: 500;
 font-size: 14px;
line-height: 25px;
}

.section-three h2{
font-weight: 600;
 font-size: 30px;
line-height: 40px;
}

.rlogoImage{
height: 150px;
height: 150px;
}

.white-circle{
height: 170px;
width: 170px;
}

.input-bg{
padding-block: 10px;
}


}



/* footer styling  */

.footer-heading h4{
  color:#1B1E3E ;
font-weight: 600;
font-size: 16px;
margin-top: 12px;
}

.footer-heading p{

font-weight: 600;

}

.widget ul li a {
font-weight: 500;
font-size: 14px;
}
.copyrightline p{
font-size: 12px;
margin-top: 2px;
}
.copyrightline img{
height: 22px;
word-wrap: 22px;
}

.footer-unifailogo{
height: 70px;
}



.footer-link:hover{
 color: #2E1562 !important;
}



/*..........Join page style..........*/

.inputCustom h3{
 font-size: 15px;
color: #1B1E3E;
font-weight: 900;
}

.contact-input{
padding-block: 12px;
/* padding-left: 18px; */
/* max-width: 265px !important; */
padding-inline: 20px;

}

.contact-input:focus{
border-color: #2E1562;
}

.admin-input{
max-width: 561px;   
}

.input-check{
border: 1px solid #2E1562;
height: 26.56px;
width: 26.56px;
}

.input-check:checked{
background: #2E1562;
border: none;


}

.input-check:focus{
box-shadow: none;
}

.contact-input::placeholder{
color: #8E8E8E;
font-size: 14px;
font-weight: 600;
}

.check-label{
 color: #1C1B37;
font-size: 17px;
line-height: 20px;
font-weight: 700;
}

.check-parent{
 gap: 25px; 
}

.contact-join-btn{
background: #2E1562;
color: white;
padding-inline: 19px;
padding-block: 15px;
border: 2px solid #2E1562;
font-weight: 700;
border-radius:10px ;
}



.homesection .submitpara{ 
 font-size: 13px;
 line-height: 25px;
max-width: 581px; 
color: #0f0624;
} 


.join-sectionTwo{
clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 93%);


background-color: #FBF9FF;
}

.container-div{
    padding-block: 200px
}

.container-div h2{
font-size: 37px;
}

.homesection  .joinSecParaTwo{
color: #2E1562 ;
line-height: 20px ;
font-weight: 700 ;
}

.homesection .joinSecParaFirst{
 line-height: 28px;
font-style: italic;
}

.joinSectionH2{
margin-bottom: 76px;
}
   

.info-p p{
max-width: 300px;
}

.container-logo {
gap: 20px;
border-right: 2px solid #e7e7e7;
}
.container-logo:last-child{

 border-right: 0;
}
.border_line {
    border-left: 2px solid #e7e7e7;
    padding-left: 30px;
    padding-right: 30px;
}



@media (max-width:992px) {
.join-nav{
display: flex;
justify-content: start !important;

}
.border_line {
border: 0;
}
.container-logo{
border: 0;
}
.container-div h2{
font-size: 26px;
}
.joinlogone{
margin-bottom: 30px;
}

.logoSecOne{
border-bottom: 2px solid rgb(228, 225, 225);
margin-bottom: 15px;
}
}



@media (max-width:569px) {
    .input-media{
 display: flex;
flex-direction: column;
}
.check-parent{
gap: 10px;
}
.contact-img{
margin-top: 30px;
}
.check-label{
font-size: 16px;
}
}



@media (max-width:767px) {
  .logoSecOne{
    margin-bottom: 26px;
}
}



@media (max-width:575px) {
    .logoSecOne, .logoSecTwo{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
 


.logosections{
display: flex;
flex-direction: column;
align-items: center;
gap: 0px !important;
}

.logoImgOne{
height:100px;

}

.container-logo{
gap: 0px;
}

.logoImgTwo{
width: 200px;
}

.info-p p {
max-width: 100%;
}

.container-div {
    padding-block: 140px;
}

.joinSectionH2{
  margin-bottom: 22px;
text-align: center;
}

.border_line {

    padding-left: 5px;
    padding-right: 5px;
}

}








    